<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabela inserida</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    .position{
      position: relative;
      margin-left: 75rem;
      margin-top: 0.8rem;
    }
    tr{
      margin-top: 1rem;
    }
  </style>
</head>
<body style="font-family: Gabriola">
<h3 style="margin-top: 1rem; font-size: 35px; margin-left: 2rem;">Tabela inserida com sucesso..</h3>
<table class="table table-striped table-hover table-sm" style="margin-top: 1rem;">
  <thead style="background-color: darkolivegreen">
  <tr >
    <th>ID</th>
    <th>Nome</th>
    <th>Descricao</th>
    <th>Quantidade</th>
    <th>Preço</th>
    <th>Tipo</th>
  </tr>
  </thead>
  <tbody>

  <tr style="font-size: 25px;" th:each="comida : ${comidas}">
    <td th:text="${comida.id}"></td>
    <td th:text="${comida.nome}"></td>
    <td th:text="${comida.descricao}"></td>
    <td th:text="${comida.quantidade}">0</td>
    <td th:text="${#numbers.formatCurrency(comida.preco)}">R$ 3.999,00</td>
    <td th:text="${comida.tipo}"></td>


  </tr>
  </tbody>
</table>
<a href="/home">
  <button type="button" class="btn btn-primary" style="margin-left: 0.3rem">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
      <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"></path>
    </svg><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/home
  </button>
</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>